*{
    color: white;
}
#activeCases{
    font-size: 7rem;
}
.container-of-container{
    height: 100vh;
}

#administered{
    font-size: 4rem;
}

span{
    font-size: 1.5rem;
}
.sub-padding{
    padding: 5%;
}

.subs{
    font-size: 3rem;
}
body{
    background: #101010 !important;
}

#confirmed{
    color: yellow;
}
.fa-question-circle{
    position: absolute;
    top:0;
    right: 0;
    padding:1%;
}
#recovered{
    color: rgb(170, 255, 0);
}

#deaths{
    color: tomato;
}

#infoLabel{
    color: #101010;
}

.modal-body{
    color: black;
}

.spinner-border{
    font-size: 1rem;
}